.individual-pitch {
   width: 100%; 
}

.graphs {
   margin-top: 20px; 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   align-items: top;
   justify-content: space-between;
}

.actual {
   background-color: rgb(237, 237, 237);
   border: 2px solid rgb(237, 237, 237); 
   border-radius: 5px;
   padding: 10px;
   padding-bottom: 175px;
}
.actual-values .list-group-item {
   background-color: rgb(253, 253, 253);
}

.predicted {
   border: 5px solid rgb(237, 237, 237); 
   border-radius: 5px;
   padding: 7px;
}

.ball-slider {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 15px;
}

.bat-speed-slider {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 15px;
}

.predicted-measures {
   margin: 5px; 
   border: 2px;
   border-color: rgb(0,0,0);
}

.ballRange {
   width: 250px; 
}

.bat-speed {
   width: 250px; 
}

