#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.gridAndFilters {
  width: 90vw; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.countFilter {
  display: flex;
  align-items: center;
}

.countFilter input {
  height: 25px;
  width: 30px;  
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Custom styles for Bootstrap tabs */
.nav-pills .nav-link {
  color: #333;
  background-color: transparent;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-item .nav-link:hover {
  background-color: rgba(52, 58, 64, 0.1);
  color: rgba(0, 0, 0, 1); 
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #343a40;
  border-radius: 0px;
}

.nav-pills .nav-item .nav-link:not(.active) {
  border-color: #343a40;
  color: rgba(97, 97, 97, 1); 
  border-radius: 0px;
}